AstraFlow-go/.idea/AstraFlow-go.iml
AstraFlow-go/.idea/dataSources.xml
AstraFlow-go/.idea/modules.xml
AstraFlow-go/.idea/sqldialects.xml
AstraFlow-go/.idea/vcs.xml
.idea/.gitignore
.idea/AstraFlow.iml
.idea/dataSources.xml
.idea/modules.xml
.idea/sqldialects.xml
.idea/vcs.xml
ocr-ai/.idea/.gitignore
ocr-ai/.idea/misc.xml
ocr-ai/.idea/modules.xml
ocr-ai/.idea/ocr-ai.iml
ocr-ai/.idea/vcs.xml
ocr-ai/.idea/inspectionProfiles/profiles_settings.xml
